<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.afixus.andelachallenge">

    <!-- To allow permision for internet functionality here -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:networkSecurityConfig="@xml/network_security_config"
        android:allowBackup="true"
        android:icon="@mipmap/mainicon"
        android:label="@string/AndelaChallenge"
        android:roundIcon="@mipmap/mainicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="n">
        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/network_security_config" />

        <activity
            android:name=".MyProfile"
            android:label="My Profile" />
        <activity
            android:name=".Activity3"
            android:label="@string/AboutAlc" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category
                    android:name="android.intent.category.LAUNCHER"
                    android:label="My Profile" />
            </intent-filter>
        </activity>
    </application>

</manifest>